<launch>
    
    <node pkg="orb_slam3_ros"  type="Mono"  name="orb_slam3_ros" 
          args="$(find orb_slam3_lib)/Vocabulary/ORBvoc.bin $(find orb_slam3_ros)/settings/raspicam_mono_wide.yaml" 
          cwd="node"   output="screen">
 
          <rosparam command="load" file="$(find orb_slam3_ros)/settings/orb_slam3_param.yaml" />
    
    </node>

</launch>

